//=============================================================================
// メニューバーの構造
//=============================================================================

/*
    記述方法
        ○ 	BEGIN END
        × 	{}				古い書き方？
*/

#include "MenuID.h"

// アイコン
MENU_ICON    ICON    "Backup Overwrite Icon.ico"